* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #507485, #06112f);
  background-color: rgb(111 131 132);
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-image: linear-gradient(to right, #507485, #06112f);
  padding: 5px 0px;
  max-width: 230px;
  min-width: 230px;
  border-radius: 12px;
  color: #c1cac7;
  border: 3px solid transparent #08295e;
  display: flex;
  flex-direction: column;
  background-color: #08295e;
}

.header {
  margin: 0px 10px;
  display: flex;
}

img {
  border-radius: 9%;
  max-width: 100%;
}

.card span {
  padding: 10px;
  text-align: end;
  flex-grow: 1;
}

.logos {
  margin: 10px 0px 3px 12px;
  gap: 9px;
  display: flex;
  max-width: 10%;
}

.placeholder-cat {
  /* backdrop-filter: sepia(50%);   */
  /* indeciso se tenerlo oppure no */
  border-radius: 50%;
  width: 2em;
  margin-bottom: 0.5em;
}
h4 {
  margin-left: 10px;
  backdrop-filter: sepia(50%);
  border-radius: 47%;
}

p {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 100%;
  }
}
